
.nav-container{
  width:100%;
  background-color: #000;
  padding: 20px 0;
}
.nav-bar {

    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  .nav-bar .logo {
    padding-left: 6%;
    color: orange;
    font-size: 30px;
  }
  
  .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .link-items {
    color: orange;
    text-decoration: none;
  }
  
  .link-items:hover {
    color: rgb(232, 163, 33);
  }
  
  .navbar-nav .nav-link.active {
    color: orange;
    font-weight: 600;
    text-decoration: underline;
  }
  .navbar-toggler-icon {
    background-color: orange;
  }
  .navbar-toggler-icon:hover {
    background-color: rgb(232, 163, 33); 
  }
  